html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Amaranth', sans-serif;
    text-align: center;
    font-weight: bold;
    scroll-behavior: smooth;
}

nav {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 1;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: goldenrod;
    font-size: 1rem;
    line-height: 1.5rem;
}

.fundo1 {
    background-image: url("../Imagens/pag1.jpg")
}



.fundo1 {
    position: relative;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.destaque {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: goldenrod;
    background-color: black;
    padding: 10px;
    width: 40%;
    font-size: 1rem;
    filter: drop-shadow(4px 4px mistyrose);
    margin: auto;
}

.conteudo {
    color: ghostwhite;
    background-color: black;
    padding: 90px 25px;
}

.texto {
    text-align: justify;
}

h3 {
    text-transform: uppercase;
    color: goldenrod;
}

image {
    width: 100%;
}

th {
    color: goldenrod;
}


footer {
    color: whitesmoke;
    background-color: rgb(46, 45, 45);
    padding: 15px;
}   

@media (min-width: 768px) {

    nav {
        padding: 20px 0px;
    }
     
    ul {
        padding: 5px;
    }

    li {
        width: 25%;
        float: left;
    }

    li:hover {
        transform: rotate(-2deg);
    }

    a {
        font-size: 1.25rem
    }

    .destaque {
        padding: 10px;
        font-size: 2rem;
        width: 25%;
        transition: width 1s;
    }

    .destaque:hover {
        width: 30%;
    }

    .conteudo {
        padding: 70px;  
    }

}